* {
  box-sizing: border-box;
}
.outter_container {
  overflow-x: scroll;
  margin-bottom: var(--custom-spacing);
}

h1 {
  border: 2px solid black;
  font-family: "Courier New", Courier, monospace;
  border-radius: 10px;
}
p {
  font-family: "Times New Roman", Times, serif;
  background-color: pink;
}
#favorite-styled {
  background-color: red;
}
